body {
    background: linear-gradient(100deg, #fabfbf 0%, #0030cf 100%);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Title */
.neon-title {
    text-align: center;
    color: white;
    text-shadow:
        0 0 5px #ff5e00,
        0 0 15px #ff5e00,
        0 0 25px #ff5e00;
}

.neon-subtitle {
    text-align: center;
    color: #e0e7ff;
    font-size: 1.5rem;
    margin-top: -10px;
    margin-bottom: 40px;
    text-shadow:
        0 0 5px #ff5e00,
        0 0 15px #ff5e00,
        0 0 25px #ff5e00;
}

/* Genre Section */
.genre-section {
    margin-top: 50px;
    text-align: center;
}

.genre-title {
    margin-bottom: 20px;
    color: #ff5e00;
    text-shadow:
        0 0 5px #fbff00;
}

/* Artist Container */
.artist-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cards */
.card {
    width: 150px;
    background: #181818;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    transition: 0.3s ease;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* Neon Hover Glow */
.card:hover {
    box-shadow:
        0 0 5px rgba(255,94,0,0.9),
        0 0 10px rgba(255,94,0,0.7),
        0 0 20px rgba(255,94,0,0.4),
        0 0 40px rgba(255,94,0,0.2);
    transform: scale(1.05);
}

.back-btn {
    display: inline-block;
    margin: 20px 10%;
    text-decoration: none;
    background: #b61818;
    color: white;
    padding: 8px 18px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s ease;
    box-shadow:
        0 0 5px #ff5e00,
        0 0 15px #ff5e00,
        0 0 25px #ff5e00,
        0 0 40px #ff5e00;
}

.back-btn:hover {
    background: #1d4ed8;
}