.members-section {
    width: 80%;
    margin: 50px auto;
    text-align: left;
}

.members-section h1 {
    color: #4a3f35;
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
}

.member-search {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
}

.member-search input {
    padding: 10px;
    width: 300px;
    border: 2px solid #b89b72;
    border-radius: 5px;
}

.member-search button {
    padding: 10px 20px;
    background-color: #f9f4ea;
    border: 2px solid #b89b72;
    cursor: pointer;
    transition: 0.3s;
}

.member-search button:hover {
    background-color: #b89b72;
    color: white;
}

.members-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.members-table th,
.members-table td {
    border: 2px solid #b89b72;
    padding: 15px 20px;
    text-align: left;
    vertical-align: middle;
    line-height: 1.5;
}

.members-table th {
    background-color: #f9f4ea;
    color: #4a3f35;
}

.members-table td {
    background-color: #fff8f0;
    color: #6b5e4d;
}


.edit-btn,
.remove-btn {
    padding: 5px 10px;
    margin-right: 5px;
    border: 2px solid #b89b72;
    background-color: #f9f4ea;
    cursor: pointer;
    transition: 0.3s;
}

.edit-btn:hover {
    background-color: #4a3f35;
    color: white;
}

.remove-btn:hover {
    background-color: #b00000;
    color: white;
}


